<% for(var i = 0; i < products.length; i++) { %>
<a href="products/<%= products[i].id %>" class="card-wrapper">
  <div class="card">
    <% if ( products[i].background_image.includes('http') ) { %>
      <div class="card-img" style="background-image: url('<%=  products[i].background_image %>');">
        <p class="card-title"><%=  products[i].name %></p>
      </div>
    <% } else { %>
      <div class="card-img" style="background-image: url('assets/products/<%=  products[i].background_image %>');">
        <p class="card-title"><%=  products[i].name %></p>
      </div>
    <% }  %>
    
    <div class="card-body">
      <div class="price">
        <div class="value">
          <% if (products[i].discount > 1) { %>
          <p>
            <span class="badge badge-sunflower">-<%= products[i].discount %>%</span>
            $<%= finalPrice(products[i].price, products[i].discount) %>
          </p>
          <div class="discount">
            <small>$<%= toThousand(products[i].price) %></small>
          </div>
          <% } else { %>
          <p style="margin-bottom: 21px;">$<%= toThousand(products[i].price) %></p>
          <% } %>

        </div>
        <i class="fa fa-cart-plus"></i>
      </div>
      <p class="legend">
        <small>Disponible para:</small>
      </p>
      <% for (var j=0; j< products[i].stores.length; j++) { %>
        <% if ( products[i].stores[j].name === 'Steam') { %>
        <i class="icon-steam" title="Steam"></i>
        <% } %>
        <% if ( products[i].stores[j].name === 'Epic Games') { %>
        <i class="icon-epic" title="Epic Games"></i>
        <% } %>
        <% if ( products[i].stores[j].name === 'GOG') { %>
        <i class="icon-gog" title="GOG Galaxy"></i>
        <% } %>
        <% if ( products[i].stores[j].name === 'X-Box Store') { %>
        <i class="icon-xbox" title="X-Box Store"></i>
        <% } %>
      <% } %>
    </div>
  </div>
</a>
<% } %>