<!DOCTYPE html>
<html lang="en">

<head>

	<%- include('../partials/head') %>

</head>

<body>

	<!-- navbar header -->
	<%- include('../partials/navbar') %>
	<!-- /.navbar header -->

	<!-- home content -->

	<section class="container">
		<div class="row">
			<div class="col-12">
				<h4>CARGA DE PRODUCTO</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-6">

				<!-- <form action="" method="GET">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Llave del producto" aria-label=""
							aria-describedby="basic-addon1" id="key" name="key">
						<div class="input-group-append">
							<button class="btn btn-pink" type="button">Validar</button>
						</div>
					</div>
				</form> -->

				<h5>Plataforma</h5>
				<p><i class="icon-steam"></i> Steam</p>


				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
								aria-controls="collapseOne">
								Datos principales
							</button>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								Civilization VI offers new ways to interact with your world, expand your empire
								across the map, advance your culture, and compete against historys greatest leaders to build a civilization that will stand the test of time. Play as one of 20 historical leaders including Roosevelt (America) and Victoria (England).
								Developers: Firaxis Games, Aspyr, Aspyr (Mac)
								Fecha de Lanzamiento: Octubre 21, 2016 <a href="javascript:void(0)"><i class="material-icons">edit</i></a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo">
								Categorias
							</button>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								Estrategia | Estrategia por turnos | Hist贸rico | 4X <a class="ml-1 badge badge-secondary" href="javascript:void(0)"><i class="material-icons">add</i></a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
								aria-expanded="false" aria-controls="collapseThree">
								Acerca de este juego
							</button>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								Civilization, creado originalmente por Sid Meier, el legendario dise帽ador de
								videojuegos, es un juego de estrategia por turnos en el que tu objetivo es construir un imperio que resista el paso del tiempo. Conquista el mundo entero estableciendo y liderando tu propia civilizaci贸n desde la Edad de Piedra hasta la Era de la Informaci贸n. Libra guerras, utiliza la diplomacia, fomenta el progreso de tu cultura y enfr茅ntate cara a cara a los l铆deres m谩s importantes de la historia para crear la civilizaci贸n m谩s grande jam谩s conocida. Civilization VI ofrece nuevas maneras de interactuar con tu mundo: ahora las
								ciudades se expanden f铆sicamente en el mapa, la investigaci贸n activa de  tecnolog铆a y cultura desbloquea nuevos potenciales y los l铆deres act煤an en funci贸n de sus rasgos hist贸ricos mientras intentas conseguir la victoria de una de las cinco maneras posibles. <a href="javascript:void(0)"><i class="material-icons">edit</i></a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingFour">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
								aria-expanded="false" aria-controls="collapseFour">
								Requisitos del sistema
							</button>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<strong>M铆nimo</strong>
									<ul>
										<li>Requiere un procesador y un sistema operativo de 64 bits</li>
										<li>SO: Windows 7x64 / Windows 8.1x64 / Windows 10x64</li>
										<li>Procesador: Intel Core i3 2.5 Ghz or AMD Phenom II 2.6 Ghz or
											greater
										</li>
										<li>Memoria: 4 GB de RAM</li>
										<li>Gr谩ficos: 1 GB & AMD 5570 or nVidia 450 or Intel Integrated Graphics
											530
										</li>
										<li>DirectX: Versi贸n 11</li>
										<li>Almacenamiento: 12 GB de espacio disponible</li>
										<li>Tarjeta de sonido: DirectX Compatible Sound Device</li>
									</ul>
									<strong>Recomendado</strong>
									<ul>
										<li>Requiere un procesador y un sistema operativo de 64 bits</li>
										<li>SO: Windows 7x64 / Windows 8.1x64 / Windows 10x64</li>
										<li>Procesador: Intel Core i3 2.5 Ghz or AMD Phenom II 2.6 Ghz or
											greater
										</li>
										<li>Memoria: 4 GB de RAM</li>
										<li>Gr谩ficos: 1 GB & AMD 5570 or nVidia 450 or Intel Integrated Graphics
											530
										</li>
										<li>DirectX: Versi贸n 11</li>
										<li>Almacenamiento: 12 GB de espacio disponible</li>
										<li>Tarjeta de sonido: DirectX Compatible Sound Device</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingFive">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
								aria-expanded="false" aria-controls="collapseFive">
								Valoraci贸n
							</button>
						</div>
						<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
							<div class="card-body hero-wrapper">
								<div class="row">

									<div class="col-12 hero-item">
										<div class="hero-item">
											<div class="alert alert-pink" role="alert">
												<h4><%= juego.metacritic %></h4>
											</div>
											<div class="hero-data">
												<h4>Metacritic</h4>
											</div>
										</div>
									</div>

									<div class="col-12 hero-item">
										<div class="hero-item">
											<div class="alert alert-pink" role="alert">
												<h4><%= juego.rating %></h4>
											</div>
											<div class="hero-data">
												<h4>BuB</h4>
												<p>Sobre <%= juego.rating_top %></p>
											</div>
										</div>
									</div>

									<div class="col-12 hero-item">
										<div class="hero-item">
											<div class="alert emoji" role="alert">
												<% if ( rating === 'excepcional') { %>
												<h2></h2>
												<% } %>
												<% if ( rating === 'recomendado') { %>
												<h2></h2>
												<% } %>
												<% if ( rating === 'cualquiera') { %>
												<h2></h2>
												<% } %>
												<% if ( rating === 'bosta') { %>
												<h2>ぎ</h2>
												<% } %>
											</div>
											<div class="hero-data">
												<h4 class="rating"><%= rating %></h4>
												<p>de acuerdo a <%= juego.reviews_count %> usuarios</p>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-6 col-md-6">

				<h4>SID MEIERS CIVILIZATION VI</h4>
				<div class="img-wrapper">
					<img src="<%=gameList.results[0].background_image %>" alt="Imagen juego cargado">
				</div>

				<div class="btn-group mt-3">
					<button type="button" class="btn btn-primary">Cambiar Imagen</button>
				</div>

				<div class="formularioCarga">
					<form action="detalle/0">
						<div class="row">
							<div class="form-group col my-3">
								<label for="price">Precio en ARS$</label>
								<input type="text" class="form-control" placeholder="" type="text" id="price" name="price">
							</div>
							<div class="form-group col my-3">
								<label for="descuento">Descuento (%)</label>
								<input type="text" class="form-control" placeholder="" id="descuento" name="descuento">
							</div>
						</div>
						<div class="row">
							<div class="form-group col my-3">
								<label for="urlTrailer">URL Trailer</label>
								<input type="text" class="form-control" placeholder="" type="text" id="urlTrailer" name="urlTrailer">
							</div>
						</div>
						<div class="row">
							<div class="form-group col my-3">
								<label for="urlGameplay">URL Gameplay</label>
								<input type="text" class="form-control" placeholder="" type="text" id="urlGameplay" name="urlGameplay">
							</div>
						</div>
						<div class="row">
							<div class="form-group col my-3">
								<label for="urlReview">URL Review</label>
								<input type="text" class="form-control" placeholder="" type="text" id="urlReview" name="urlReview">
							</div>
						</div>
						<div class="btn-group mt-3">
							<button type="submit" class="btn btn-primary">Cargar producto</button>
						</div>


					</form>

				</div>
			</div>

		</div>
	</section>

	<!-- /.home content -->
	
	<%- include('../partials/footer') %>

	<%- include('../partials/scripts') %>
	
</body>

</html>