<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <!-- navbar header -->
  <%- include('../partials/navbar') %>

  <!-- Productos en Carrito de Compras -->


  <section class="container">
    <div class="col-12">
      <h4 class="title">Mi carrito</h4>
    </div>
    <form method="GET" action="confirmacion/carrito" class="cart-wrapper">
      <% for(var i = 0; i < 4; i++) { %>
        <div class="in-cart w-100">
          <div class="col-12 col-md-2 img-wrapper"
            style="background-image: url('<%= carritoList[i].background_image %>');">
          </div>
          <div class="col-12 col-md-8">
            <p class="in-cart-title"><%=  carritoList[i].name%></p>
            <% for (var j=0; j< carritoList[i].store.length; j++) { %>
              <span class="bold-case">
                <% if ( carritoList[i].store[j] === 'Steam') { %>
                <i class="icon-steam" title="<%= carritoList[i].store[j] %>"></i> <%= carritoList[i].store[j] %> Key
                <% } %>
              </span>
              <span class="bold-case">
                <% if ( carritoList[i].store[j] === 'Epic Games') { %>
                <i class="icon-epic" title="<%= carritoList[i].store[j] %>"></i> Epic <%= carritoList[i].store[j] %> Key
                <% } %>
              </span>
              <span class="bold-case">
                <% if ( carritoList[i].store[j] === 'GOG') { %>
                <i class="icon-gog" title="<%= carritoList[i].store[j] %>"></i> <%= carritoList[i].store[j] %> Key
                <% } %>
              </span>
              <span class="bold-case">
                <% if ( carritoList[i].store[j] === 'X-Box Store') { %>
                <i class="icon-xbox" title="<%= carritoList[i].store[j] %>"></i> X-box <%= carritoList[i].store[j] %> Key
                <% } %>
              </span>
            <% } %>
            
            <p class="bold-case">Activación global</p>
              
            <p class="mt-3">Una vez comprado el juego tendras que activarlo en STEAM con la llave y las instrucciones que
              verás a continuación </p>
            <p class="mt-3">Podrás ver el código de la llave en tu perfil > mis compras o en tu dirección de correo
              electrónico.</p>
          </div>
          <div class="col-12 col-md-2 price">
            <strong>$ <%= finalPrice(carritoList[i].price, carritoList[i].discount) %></strong>
            <div>
              <a class="text-secondary" href="javascript:void(0)"><small>Eliminar</small></a>
            </div>
          </div>
        </div>
      <% } %>
      <div class="row">
        <div class="col-10 purchase">
          <button type="submit" class="btn btn-primary">Comprar</button>
          <p>Sub total:</p>
        </div>
        <div class="col-2 text-right">
          <p>ARS $4000</p>
        </div>
      </div>
    </form>
    <div class="cta row">
      <div class="col-12 col-md-6">
        <a href="products" class="text-secondary">Seguir comprando</a>
      </div>
      <div class="col-12 col-md-6 text-right">
        <a href="javascript:void(0)" class="text-secondary">Eliminar todos los articulos</a>
      </div>
    </div>
  </section>

  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>

</html>