<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <!-- navbar header -->
  <%- include('../partials/header') %>

  <!-- Productos en Carrito de Compras -->


  <section class="container">
    <div class="col-12">
      <h4>Mi carrito</h4>
    </div>
    <div class="cart-wrapper">
      <% for(var i = 0; i < carritoList.results.length; i++) { %>
        <div class="in-cart w-100">
          <div class="col-12 col-md-2 img-wrapper"
            style="background-image: url('<%= carritoList.results[i].background_image %>');">
          </div>
          <div class="col-12 col-md-8">
            <p class="in-cart-title"><%=  carritoList.results[i].name%></p>
            <p>Una vez comprado el juego tendras que activarlo en STEAM con la llave y las instrucciones que
              verás a continuación </p>
          </div>
          <div class="col-12 col-md-2 price">
            <strong>ARS <%= carritoList.results[i].price %></strong>
            <div>
              <a class="text-secondary" href="javascript:void(0)"><small>Eliminar</small></a>
            </div>
          </div>
        </div>
      <% } %>
      <div class="row">
        <div class="col-10 purchase">
          <button class="btn btn-primary">Comprar</button>
          <p>Sub total:</p>
        </div>
        <div class="col-2 text-right">
          <p>ARS $4000</p>
        </div>
      </div>
    </div>
    <div class="cta row">
      <div class="col-12 col-md-6">
        <a href="javascript:void(0)" class="text-secondary">Seguir comprando</a>
      </div>
      <div class="col-12 col-md-6 text-right">
        <a href="javascript:void(0)" class="text-secondary">Eliminar todos los articulos</a>
      </div>
    </div>
  </section>

  <%- include('../partials/scripts') %>
</body>

</html>