<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head') %>
</head>

<body>
	<!-- navbar header -->
	<%- include('../partials/header') %>
	<!-- /.navbar header -->

	<!-- home content porque no trae imagen lala -->
	<div class="container">

		<div class="product-detail row">
			<!-- videos -->
			<div class="videos col-12 col-md-7">
				<div class="top-content">
					<div id="carousel-example" class="carousel slide">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="embed-responsive embed-responsive-16by9">
									<video width="560" height="315" src="<%= juego.clip.clip %>" id="trailer" controls muted autoplay></video>
								</div>
							</div>
							<div class="carousel-item">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/99WZ-1fWrJE?mute=1" frameborder="1"
										allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
							<div class="carousel-item">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/ntc_ptQ5U-Q?mute=1" frameborder="2"
										allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<!-- <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a> -->
					</div>
					<div class="filters">
						<div class="carousel-indicators">
							<button id="trailer" data-target="#carousel-example" type="button" class="btn btn-primary"
								data-slide-to="0"><i class="material-icons">videocam</i></button>

							<button id="gameplay" data-target="#carousel-example" type="button" class="btn btn-primary"
								data-slide-to="1"><i class="material-icons">videogame_asset</i></button>

							<button id="honest" data-target="#carousel-example" type="button" class="btn btn-primary" data-slide-to="2"><i
									class="material-icons">gavel</i></button>
							<div class="d-flex flex-column justify-content-center">
								<p class="m-0 p-0">
									<small>Actualmente reproduciendo:</small>
								</p>
								<h4 class="m-0 p-0 trailer">Trailer</h4>
								<h4 class="m-0 p-0 gameplay">Gameplay</h4>
								<h4 class="m-0 p-0 honest">Honest review</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="screenshots row">
					<div class="col-12">
						<strong>Screenshots</strong>
					</div>
					<% for (var k=1; k< juego.short_screenshots.length; k++) { %>
					<div class="col">
						<img src="<%= juego.short_screenshots[k].image %>" alt="">
					</div>
					<% } %>
				</div>
			</div>
			<!-- //videos -->
			<!-- gameInfo -->
			<div class="product-overview col-12 col-md-5">
				<div class="imagen">
					<img src="<%=juego.background_image %>" alt="Imagen civ">
				</div>
				<div class="overview-data">
					<h4 class="product-title"><%= juego.name %></h4>
					<p>Developers: Firaxis Games, Aspyr, Aspyr (Mac)</p>
					<p>Fecha de Lanzamiento: <%= juego.released %></p>
					<div class="my-2">
						<% for (var i=0; i< juego.tags.length; i++) { %>
							<span class="badge badge-secondary"><%= juego.tags[i].name %></span>
						<% } %>
					</div>

					<div class="row">
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								Plataforma
							</button>
							<div class="price">
								<h6>ARS$ <strong>1.200,00</strong></h6>
							</div>
							<div class="dropdown-menu">
								<% for (var j=0; j< juego.stores.length; j++) { %>
									<% if ( juego.stores[j].store.slug === 'steam') { %>
										<a class="dropdown-item" href="javascript:void(0)"><i class="icon-steam"></i> Steam</a>
									<% } %>
									<% if ( juego.stores[j].store.slug === 'epic-games') { %>
										<a class="dropdown-item" href="javascript:void(0)"><i class="icon-epic"></i> Epic Games</a>
									<% } %>
									<% if ( juego.stores[j].store.slug === 'gog') { %>
										<a class="dropdown-item" href="javascript:void(0)"><i class="icon-gog"></i> GOG</a>
									<% } %>
									<% if ( juego.stores[j].store.slug === 'xbox-store') { %>
										<a class="dropdown-item" href="javascript:void(0)"><i class="icon-xbox"></i> X-Box Store</a>
									<% } %>
								<% } %>
							</div>
						</div>
						<form method="GET" action="carrito" class="btn-group">
							<button type="button" class="btn btn-success"><i class="material-icons">vertical_align_bottom</i> Demo</button>
							<button type="submit" class="btn btn-primary"><i class="material-icons">shopping_cart</i> Comprar</button>
						</form>


					</div>
				</div>
			</div>
			<!-- //gameInfo -->
		</div>
	</div>
	<!-- ratings	 -->
	<div class="hero-wrapper bg p-0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 hero-item">
					<div class="hero-item">
						<div class="alert alert-pink" role="alert">
							<h4><%= juego.metacritic %></h4>
						</div>
						<div class="hero-data">
							<h4>Metacritic</h4>
						</div>
					</div>
				</div>
	
				<div class="col-12 col-md-4 hero-item">
					<div class="hero-item">
						<div class="alert alert-pink" role="alert">
							<h4><%= juego.rating %></h4>
						</div>
						<div class="hero-data">
							<h4>BuB</h4>
							<p>Sobre <%= juego.rating_top %></p>
						</div>
					</div>
				</div>
	
				<div class="col-12 col-md-4 hero-item">
					<div class="hero-item">
						<div class="alert emoji" role="alert">
							<% if ( rating === 'exceptional') { %>
								<h2>😲</h2>
							<% } %>
							<% if ( rating === 'recommended') { %>
								<h2>😀</h2>
							<% } %>
							<% if ( rating === 'meh') { %>
								<h2>😐</h2>
							<% } %>
							<% if ( rating === 'skip') { %>
								<h2>🤮</h2>
							<% } %>
						</div>
						<div class="hero-data">
							<h4 class="rating"><%= rating %></h4>
							<p>de acuerdo a <%= juego.reviews_count %> usuarios</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //ratings -->
	<!-- about -->
	<div class="hero-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4>ACERCA DE ESTE JUEGO</h4>
				</div>
				<div class="col-12 col-md-8">
	
					<p>Civilization, creado originalmente por Sid Meier, el legendario diseñador de videojuegos, es
						un
						juego
						de estrategia por turnos en el que tu objetivo es construir un imperio que resista el paso
						del
						tiempo.
						Conquista el mundo entero estableciendo y liderando tu propia civilización desde la Edad de
						Piedra hasta
						la Era de la Información. Libra guerras, utiliza la diplomacia, fomenta el progreso de tu
						cultura y
						enfréntate cara a cara a los líderes más importantes de la historia para crear la
						civilización
						más
						grande jamás conocida.
	
						Civilization VI ofrece nuevas maneras de interactuar con tu mundo: ahora las ciudades se
						expanden
						físicamente en el mapa, la investigación activa de tecnología y cultura desbloquea nuevos
						potenciales y
						los líderes actúan en función de sus rasgos históricos mientras intentas conseguir la
						victoria
						de una de
						las cinco maneras posibles.
					</p>
	
	
				</div>
	
				<div class="col-12 col-md-4">
	
					<ul class="list-unstyled">
						<li>Apto para edades entre...</li>
						<li>¿Cuantos Jugadores?</li>
						<li>¿Se puede jugar online?</li>
						<li>Plataformas donde esta disponible</li>
						<li>¿Apto para VR?</li>
						<li>En caso de serlo, ¿Que cascos?</li>
						<li>Idiomas en los que esta disponible</li>
						<li>Links relacionados</li>
						<ul class="list-unstyled">
							<li>DLC</li>
							<li>Juegos del mismo genero</li>
							<li>Por los mismos cradores</li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->
	
	<div class="hero-wrapper bg">
		<div class="container">
			<div class="tituloRequisitos">
				<h4>REQUISITOS DEL SISTEMA</h4>
			</div>

			<div class="row">
				<div class="col-12 col-md-6">
					<strong>MINIMO</strong>

					<ul class="list-unstyled">
						<li>Requiere un procesador y un sistema operativo de 64 bits</li>
						<li>SO: Windows 7x64 / Windows 8.1x64 / Windows 10x64</li>
						<li>Procesador: Intel Core i3 2.5 Ghz or AMD Phenom II 2.6 Ghz or greater</li>
						<li>Memoria: 4 GB de RAM</li>
						<li>Gráficos: 1 GB & AMD 5570 or nVidia 450 or Intel Integrated Graphics 530</li>
						<li>DirectX: Versión 11</li>
						<li>Almacenamiento: 12 GB de espacio disponible</li>
						<li>Tarjeta de sonido: DirectX Compatible Sound Device</li>
					</ul>
				</div>

				<div class="col-12 col-md-6">
					<strong>RECOMENDADO</strong>

					<ul class="list-unstyled">
						<li>Requiere un procesador y un sistema operativo de 64 bits</li>
						<li>SO: Windows 7x64 / Windows 8.1x64 / Windows 10x64</li>
						<li>Procesador: Intel Core i3 2.5 Ghz or AMD Phenom II 2.6 Ghz or greater</li>
						<li>Memoria: 4 GB de RAM</li>
						<li>Gráficos: 1 GB & AMD 5570 or nVidia 450 or Intel Integrated Graphics 530</li>
						<li>DirectX: Versión 11</li>
						<li>Almacenamiento: 12 GB de espacio disponible</li>
						<li>Tarjeta de sonido: DirectX Compatible Sound Device</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- comments -->
	<div class="hero-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4>COMENTARIOS DEL USUARIO</h4>
				</div>
			</div>
			<div class="row comment">
				<div class="user col-3 col-md-1">
					<div class="alert alert-pink">
						<h4><i class="fa fa-user-circle-o"></i></h4>
					</div>
				</div>
				<div class="col-9 col-md-11">
					<strong>Es genial!!!</strong>
					<p>Siempre le había esquivado al CIV VI. Me parecía que un juego por turnos sería muy lento,
						aburrido.
						Después de varios años, gracias a la insistencia de un amigo (gracias JMDI), aquí estoy.
						Jugué
						un poco
						al 5 y pasé directo al 6. No fue fácil adaptarme. Es un juego muy muy completo, pero no
						crean
						que por
						eso es difícil de aprender. A medida que uno juega va entendiendo cosas que al principio
						parecen
						complejas pero no lo son.
						Me gusta que haya varios tipos de victorias, que no sea solo victoria de dominación (matar
						al
						resto),
						sino que se puede ganar por religión, ciencia, cultura y diplomacia.
						Recomiendo ver algunos videos de otros jugadores para conocer estrategias y tips. Espero se
						sorprendan
						y lo disfruten tanto como yo.
					</p>
				</div>
			</div>
			<div class="row comment">
				<div class="user col-3 col-md-1">
					<div class="alert alert-pink">
						<h4><i class="fa fa-user-circle-o"></i></h4>
					</div>
				</div>
				<div class="col-9 col-md-11">
					<strong>Es Malo!!!</strong>
					<p>Siempre le había esquivado al CIV VI. Me parecía que un juego por turnos sería muy lento,
						aburrido.
						Después de varios años, gracias a la insistencia de un amigo (gracias JMDI), aquí estoy.
						Jugué
						un poco
						al 5 y pasé directo al 6. No fue fácil adaptarme. Es un juego muy muy completo, pero no
						crean
						que por
						eso es difícil de aprender. A medida que uno juega va entendiendo cosas que al principio
						parecen
						complejas pero no lo son.
						Me gusta que haya varios tipos de victorias, que no sea solo victoria de dominación (matar
						al
						resto),
						sino que se puede ganar por religión, ciencia, cultura y diplomacia.
						Recomiendo ver algunos videos de otros jugadores para conocer estrategias y tips. Espero se
						sorprendan
						y lo disfruten tanto como yo.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //comments -->
	<!-- /.home content -->

	<%- include('../partials/footer') %>

	<%- include('../partials/scripts') %>
</body>

</html>