<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head') %>
</head>

<body>
	<!-- navbar header -->
	<%- include('../partials/navbar') %>
	<!-- /.navbar header -->

	<!-- home content porque no trae imagen lala -->
	<div class="container">

		<div class="product-detail row">
			<!-- videos -->
			<div class="videos col-12 col-md-7">
				<div class="top-content">
					<div id="carousel-example" class="carousel slide">
						<div class="carousel-inner">
							
							<div class="carousel-item active">
								<div class="embed-responsive embed-responsive-16by9">
									<% if (juego.game_trailer != null) { %>
									<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= juego.game_trailer %>?mute=1"
										frameborder="1"
										allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									<% } %>
								</div>
							</div>
							<% if (juego.game_gameplay != null) { %>
							<div class="carousel-item">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe width="560" height="315"
										src="https://www.youtube.com/embed/<%= juego.game_gameplay %>?mute=1" frameborder="1"
										allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<% } %>
							<% if (juego.game_review != null) { %>
							<div class="carousel-item">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe width="560" height="315"
										src="https://www.youtube.com/embed/<%= juego.game_review %>?mute=1" frameborder="2"
										allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<% } %>

						</div>
					</div>
					<div class="filters">
						<div class="carousel-indicators">
							<button id="trailer" data-target="#carousel-example" type="button" class="btn btn-primary"
								data-slide-to="0"><i class="material-icons">videocam</i></button>

							<% if (juego.game_gameplay != null) { %>
							<button id="gameplay" data-target="#carousel-example" type="button" class="btn btn-primary"
								data-slide-to="1"><i class="material-icons">videogame_asset</i></button>
							<% } %>

							<% if (juego.game_review != null) { %>
							<button id="honest" data-target="#carousel-example" type="button" class="btn btn-primary"
								data-slide-to="2"><i class="material-icons">gavel</i></button>
							<% } %>
							<div class="d-flex flex-column justify-content-center">
								<p class="m-0 p-0">
									<small>Actualmente reproduciendo:</small>
								</p>
								<h4 class="m-0 p-0 trailer">Trailer</h4>
								<h4 class="m-0 p-0 gameplay">Gameplay</h4>
								<h4 class="m-0 p-0 honest">Honest review</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //videos -->
			<!-- gameInfo -->
			<div class="product-overview col-12 col-md-5">
				<div class="imagen">
					<% if ( juego.background_image.includes('http') ) { %>
						<img src="<%=juego.background_image %>" alt="Imagen civ">
					<% } else { %>
						<img src="assets/products/<%=juego.background_image %>" alt="Imagen civ">
					<% }  %>
					
				</div>
				<div class="overview-data">
					<h4 class="product-title"><%= juego.name %></h4>
					<p><span>Desarrollado por: </span>
						<% if (juego.developers != null) { %>
							<% for (var i=0; i< juego.developers.length; i++) { %>
							<span><%= juego.developers[i] %></span>
							<% } %>
						<% } %>
					</p>
					<% if (juego.released) { %>
						<p>Fecha de Lanzamiento: <%= juego.released %></p>
					<% } %>

					<!-- tags -->
					<% if (juego.categories) { %>
					<div class="my-2">
						<% for (var i=0; i< juego.categories.length; i++) { %>
						<span class="badge badge-secondary"><%= juego.categories[i].name %></span>
						<% } %>
					</div>
					<% } %>
					<!-- //tags -->

					<div class="row">
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								Plataforma
							</button>
							<div class="price">
								<h3><strong>$<%= finalPrice(juego.price, juego.discount) %></strong></h3>
							</div>
							<div class="dropdown-menu">
								<% for (var j=0; j< juego.store.length; j++) { %>
								<% if ( juego.store[j] === 'Steam') { %>
								<a class="dropdown-item" href="javascript:void(0)"><i class="icon-steam" title="<%= juego.store[j]%>"></i> Steam</a>
								<% } %>
								<% if ( juego.store[j] === 'Epic Games') { %>
								<a class="dropdown-item" href="javascript:void(0)"><i class="icon-epic" title="<%= juego.store[j]%>"></i> Epic
									Games</a>
								<% } %>
								<% if ( juego.store[j] === 'GOG') { %>
								<a class="dropdown-item" href="javascript:void(0)"><i class="icon-gog" title="<%= juego.store[j]%>"></i> GOG</a>
								<% } %>
								<% if ( juego.store[j] === 'X-Box Store') { %>
								<a class="dropdown-item" href="javascript:void(0)"><i class="icon-xbox" title="<%= juego.store[j]%>"></i> X-Box
									Store</a>
								<% } %>
								<% } %>
							</div>
						</div>
						<form method="GET" action="carrito" class="btn-group">
							<button type="button" class="btn btn-success"><i class="material-icons">vertical_align_bottom</i> Demo</button>
							<button type="submit" class="btn btn-primary"><i class="material-icons">shopping_cart</i>
								Comprar</button>
						</form>
						<div class="btn-group">
							<a href="/products/edit/<%= juego.id %>" type="button" class="btn btn-pink"><i class="material-icons">create</i> Editar</a>
							<form action="/products/delete/<%= juego.id %>?_method=DELETE" method="POST">
								<button type="submit" class="btn btn-danger"><i class="material-icons">delete_forever</i>
									Borrar</button>
							</form>
						</div>


					</div>
				</div>
			</div>
			<!-- //gameInfo -->
		</div>
	</div>
	<!-- ratings	 -->
	<div class="hero-wrapper bg p-0">
		<div class="container">
			<div class="row">
				<% if (juego.metacritic) { %>
				<div class="col-12 col-md-4 hero-item">
					<div class="hero-item">
						<div class="alert alert-pink" role="alert">
							<h4><%= juego.metacritic %></h4>
						</div>
						<div class="hero-data">
							<h4>Metacritic</h4>
						</div>
					</div>
				</div>
				<% } %>
				<% if (juego.rating_bub) { %>
				<div class="col-12 col-md-4 hero-item">
					<div class="hero-item">
						<div class="alert alert-pink" role="alert">
							<h4><%= juego.rating_bub %></h4>
						</div>
						<div class="hero-data">
							<h4>BuB</h4>
						</div>
					</div>
				</div>
				<% } %>

				<% if (juego.ratings) { %>
				<div class="col-12 col-md-4 hero-item">
					<div class="hero-item">
						<div class="alert emoji" role="alert">
							<% if ( rating === 'excepcional') { %>
							<h2>😲</h2>
							<% } %>
							<% if ( rating === 'recomendado') { %>
							<h2>😀</h2>
							<% } %>
							<% if ( rating === 'cualquiera') { %>
							<h2>😐</h2>
							<% } %>
							<% if ( rating === 'bosta') { %>
							<h2>🤮</h2>
							<% } %>
						</div>
						<div class="hero-data">
							<h4 class="rating"><%= rating %></h4>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	<!-- //ratings -->
	<!-- about -->
	<div class="hero-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4>ACERCA DE ESTE JUEGO</h4>
				</div>
				<div class="col-12">
					<% if (juego.about != null) { %>
						<p><%= juego.about %></p>
					<% } %>
					<% if (juego.about == null) { %>
						<p>No tenemos una descripción disponible para este juego</p>
					<% } %>


				</div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<div class="hero-wrapper bg">
		<div class="container">
			<div class="tituloRequisitos">
				<h4>REQUISITOS DEL SISTEMA</h4>
			</div>

			<div class="row">
				<div class="col-12 col-md-6">
					<strong>MINIMO</strong>
					<% if (juego.requirements) { %>
						<p><%= juego.requirements.minimum %></p>
					<% } %>
					<%if (!juego.requirements) { %>
					<h1>Sorry :(</h1>
					<p>Este juego no tiene requisitos para mostrar </p>
					<% } %>

				</div>
				<div class="col-12 col-md-6">
					<strong>RECOMENDADO</strong>
					<% if (juego.requirements) { %>
						<p><%= juego.requirements.recommended %></p>
					<% } %>
					<%if (!juego.requirements) { %>
					<br> </br>
					<h1>Sorry :(</h1>
					<p>Este juego no tiene requisitos para mostrar </p>
					<% } %>

				</div>
				
			</div>
		</div>
	</div>

	<!-- comments -->
	<div class="hero-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4>COMENTARIOS DEL USUARIO</h4>
				</div>
			</div>
			<div class="row comment">
				<div class="user col-3 col-md-1">
					<div class="alert alert-pink">
						<h4><i class="fa fa-user-circle-o"></i></h4>
					</div>
				</div>
				<div class="col-9 col-md-11">
					<strong>Es genial!!!</strong>
					<p>Siempre le había esquivado al CIV VI. Me parecía que un juego por turnos sería muy lento,
						aburrido.
						Después de varios años, gracias a la insistencia de un amigo (gracias JMDI), aquí estoy.
						Jugué
						un poco
						al 5 y pasé directo al 6. No fue fácil adaptarme. Es un juego muy muy completo, pero no
						crean
						que por
						eso es difícil de aprender. A medida que uno juega va entendiendo cosas que al principio
						parecen
						complejas pero no lo son.
						Me gusta que haya varios tipos de victorias, que no sea solo victoria de dominación (matar
						al
						resto),
						sino que se puede ganar por religión, ciencia, cultura y diplomacia.
						Recomiendo ver algunos videos de otros jugadores para conocer estrategias y tips. Espero se
						sorprendan
						y lo disfruten tanto como yo.
					</p>
				</div>
			</div>
			<div class="row comment">
				<div class="user col-3 col-md-1">
					<div class="alert alert-pink">
						<h4><i class="fa fa-user-circle-o"></i></h4>
					</div>
				</div>
				<div class="col-9 col-md-11">
					<strong>Es Malo!!!</strong>
					<p>Siempre le había esquivado al CIV VI. Me parecía que un juego por turnos sería muy lento,
						aburrido.
						Después de varios años, gracias a la insistencia de un amigo (gracias JMDI), aquí estoy.
						Jugué
						un poco
						al 5 y pasé directo al 6. No fue fácil adaptarme. Es un juego muy muy completo, pero no
						crean
						que por
						eso es difícil de aprender. A medida que uno juega va entendiendo cosas que al principio
						parecen
						complejas pero no lo son.
						Me gusta que haya varios tipos de victorias, que no sea solo victoria de dominación (matar
						al
						resto),
						sino que se puede ganar por religión, ciencia, cultura y diplomacia.
						Recomiendo ver algunos videos de otros jugadores para conocer estrategias y tips. Espero se
						sorprendan
						y lo disfruten tanto como yo.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //comments -->
	<!-- /.home content -->

	<%- include('../partials/footer') %>

	<%- include('../partials/scripts') %>
</body>

</html>