<!DOCTYPE html>
<html lang="en">

<head>

	<%- include('../partials/head', {title: 'Editar producto'}) %>

</head>

<body>

	<!-- navbar header -->
	<%- include('../partials/header', {nombre: 'Homero', apellido: 'Thompson'}) %>
	<!-- /.navbar header -->

	<!-- home content -->

	<section class="container">
		<div class="row">
			<div class="col-12">
				<h4>EDICIÓN DE PRODUCTO</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-6">

				<h5>Plataforma</h5>
				<p><i class="icon-steam"></i> Steam</p>


				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
								aria-controls="collapseOne">
								Datos principales
							</button>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
               <div class="form-group">
                 <textarea class="form-control" id="sinopsis" name="sinopsis" rows="3"></textarea>
               </div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo">
								Categorias
							</button>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								Estrategia | Estrategia por turnos | Histórico | 4X <a class="ml-1 badge badge-secondary" href="javascript:void(0)"><i class="material-icons">add</i></a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
								aria-expanded="false" aria-controls="collapseThree">
								Acerca de este juego
							</button>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								Civilization, creado originalmente por Sid Meier, el legendario diseñador de
								videojuegos, es un juego de estrategia por turnos en el que tu objetivo es construir un imperio que resista el paso del tiempo. Conquista el mundo entero estableciendo y liderando tu propia civilización desde la Edad de Piedra hasta la Era de la Información. Libra guerras, utiliza la diplomacia, fomenta el progreso de tu cultura y enfréntate cara a cara a los líderes más importantes de la historia para crear la civilización más grande jamás conocida. Civilization VI ofrece nuevas maneras de interactuar con tu mundo: ahora las
								ciudades se expanden físicamente en el mapa, la investigación activa de  tecnología y cultura desbloquea nuevos potenciales y los líderes actúan en función de sus rasgos históricos mientras intentas conseguir la victoria de una de las cinco maneras posibles. <a href="javascript:void(0)"><i class="material-icons">edit</i></a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingFour">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
								aria-expanded="false" aria-controls="collapseFour">
								Requisitos del sistema
							</button>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<strong>Mínimo</strong>
									<ul>
										<li>Requiere un procesador y un sistema operativo de 64 bits</li>
										<li>SO: Windows 7x64 / Windows 8.1x64 / Windows 10x64</li>
										<li>Procesador: Intel Core i3 2.5 Ghz or AMD Phenom II 2.6 Ghz or
											greater
										</li>
										<li>Memoria: 4 GB de RAM</li>
										<li>Gráficos: 1 GB & AMD 5570 or nVidia 450 or Intel Integrated Graphics
											530
										</li>
										<li>DirectX: Versión 11</li>
										<li>Almacenamiento: 12 GB de espacio disponible</li>
										<li>Tarjeta de sonido: DirectX Compatible Sound Device</li>
									</ul>
									<strong>Recomendado</strong>
									<ul>
										<li>Requiere un procesador y un sistema operativo de 64 bits</li>
										<li>SO: Windows 7x64 / Windows 8.1x64 / Windows 10x64</li>
										<li>Procesador: Intel Core i3 2.5 Ghz or AMD Phenom II 2.6 Ghz or
											greater
										</li>
										<li>Memoria: 4 GB de RAM</li>
										<li>Gráficos: 1 GB & AMD 5570 or nVidia 450 or Intel Integrated Graphics
											530
										</li>
										<li>DirectX: Versión 11</li>
										<li>Almacenamiento: 12 GB de espacio disponible</li>
										<li>Tarjeta de sonido: DirectX Compatible Sound Device</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-6 col-md-6">

				<h4>SID MEIER’S CIVILIZATION VI</h4>
				<div class="img-wrapper">
					<img src="<%=products.results[0].background_image %>" alt="Imagen juego cargado">
				</div>

				<div class="btn-group mt-3">
					<button type="button" class="btn btn-primary">Cambiar Imagen</button>
				</div>

				<div class="formularioCarga">
					<form action="detalle/0">
						<div class="row">
							<div class="form-group col my-3">
								<label for="price">Precio en ARS$</label>
								<input type="text" class="form-control" placeholder="" type="text" id="price" name="price">
							</div>
							<div class="form-group col my-3">
								<label for="descuento">Descuento (%)</label>
								<input type="text" class="form-control" placeholder="" id="descuento" name="descuento">
							</div>
						</div>
						<div class="row">
							<div class="form-group col my-3">
								<label for="urlTrailer">URL Trailer</label>
								<input type="text" class="form-control" placeholder="" type="text" id="urlTrailer" name="urlTrailer">
							</div>
						</div>
						<div class="row">
							<div class="form-group col my-3">
								<label for="urlGameplay">URL Gameplay</label>
								<input type="text" class="form-control" placeholder="" type="text" id="urlGameplay" name="urlGameplay">
							</div>
						</div>
						<div class="row">
							<div class="form-group col my-3">
								<label for="urlReview">URL Review</label>
								<input type="text" class="form-control" placeholder="" type="text" id="urlReview" name="urlReview">
							</div>
						</div>
						<div class="btn-group mt-3">
							<button type="submit" class="btn btn-primary">Cargar producto</button>
						</div>


					</form>

				</div>
			</div>

		</div>
	</section>

	<!-- /.home content -->
	
	<%- include('../partials/footer') %>

	<%- include('../partials/scripts') %>
	
</body>

</html>