<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Listado de productos'}) %>
</head>

<body>
  <!-- navbar header -->
  <%- include('../partials/header', {nombre: 'Homero', apellido: 'Thompson'}) %>
  <!-- /.navbar header -->

  <!-- home content -->
  <div class="container">
    <div class="custom-row">
      <%- include('../partials/game-card') %>
    </div>
  </div>
  <!-- /.home content -->

  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>

</html>
