<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Listado de productos'}) %>
</head>

<body>
  <!-- navbar header -->
  <%- include('../partials/header', {nombre: 'Homero', apellido: 'Thompson'}) %>
  <!-- /.navbar header -->

  <!-- home content -->
  <div class="container">
    <div class="custom-row">
      <% for(var i = 0; i < products.results.length; i++) { %>
      <a href="javascript:void(0)" class="card-wrapper">
        <div class="card">
          <div class="card-img" style="background-image: url('<%=  products.results[i].background_image %>');">
            <p class="card-title"><%=  products.results[i].name %></p>
          </div>
          <div class="card-body">
            <div class="price">
              <div class="value">
                <p><span class="badge badge-sunflower">25%</span> $1.200,00</p>
                <div class="discount">
                  <small>$1.500.00</small>
                </div>
              </div>
              <i class="fa fa-cart-plus"></i>
            </div>
            <p class="legend">
              <small>Disponible para:</small>
            </p>
            <% for (var j=0; j< products.results[i].stores.length; j++) { %>
              <% if ( products.results[i].stores[j].store.slug === 'steam') { %>
                <i class="icon-steam"></i>
              <% } %>
              <% if ( products.results[i].stores[j].store.slug === 'epic-games') { %>
                <i class="icon-epic"></i>
              <% } %>
              <% if ( products.results[i].stores[j].store.slug === 'gog') { %>
                <i class="icon-gog"></i>
              <% } %>
              <% if ( products.results[i].stores[j].store.slug === 'xbox-store') { %>
                <i class="icon-xbox"></i>
            <% } %>
            <% } %>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </div>
  <!-- /.home content -->

  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>

</html>
